.add-main {
    display: flex;
    justify-content: space-between;

    .add-customer-container {
        /* width: 30%; */
        padding: 20px;
        backdrop-filter: 20px;
        /* margin: auto; */
        background-color: #eddea4;

        /* opacity: 0.5; */
        /* backdrop-filter: blur(2px); */
        .add-customer-row {
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            padding-bottom: 10px;

            div:first-child {
                margin-right: 10px;
            }
        }
    }
}