*{
  /* color: #fff; */
}
input,button{
  /* background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(214, 207, 207); */
}
button{
  border: none;
  background-color: #fff;
  color: brown;
  padding: 5px 20px;
  border-radius: 5%;
}
input:focus,input:focus-visible{
  /* border: none;
  border-bottom: 1px solid rgb(214, 207, 207); */
}